.nav-container {
    width: 20%;
    padding: 20px;
    background: red;
    min-height: 100vh;
}

.logo {
    width: 100%;
    background: white;
    padding: 10px 0px;
}

.options {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: white;
    border-radius: 8px;
}